@import "compass/css3/border-radius";

div.calendar{
	@include border-radius(25px);
	padding: 10px 0 12px 10px;
	width: 216px;
	border: 1px solid gray;
	z-index: 99999;
	margin-left: 5px;
	ul {
		margin: 0;
		padding:0;
		li {
			float: left;
			width: 30px;
			list-style: none;
		}
		&.dates li{
			cursor: pointer;
			margin-top:5px ;
		}
		&.week li{
			margin-bottom:5px;
			font-weight: bold;
		}
	}
	.caption{
		width: 200px;
		margin: auto;
		text-align: center;
		margin: 5px 0 5px 0;
		font-weight: bolder;
		a {
			cursor: pointer;
			&.previous{
				float:left;	
			}
			&.next{
				float:right;
			}
		}
		h4{
			display: inline;
		}
	}	
}